# Activa el motor de reescritura de URLs de Apache.
RewriteEngine On

# Establece una condición para asegurarse de que la regla no se aplique
# si el archivo o directorio solicitado ya existe físicamente.
# Esto es para que Apache pueda seguir sirviendo archivos como CSS, JS e imágenes directamente.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# La regla principal:
# Si las condiciones anteriores se cumplen (es decir, no es un archivo o directorio real),
# reescribe la URL solicitada para que pase a través de index.php.
# El [L] al final significa que esta es la última regla que se debe procesar.
RewriteRule ^(.*)$ index.php/$1 [L]

# Opcional: Prevenir que se listen los directorios si no hay un index.html
Options -Indexes